<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Website Revised</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>  
    <div class="tabs is-centered is-boxed is-medium is-dark">
      <ul>
        <li class="is-active">
          <a href = "index.html">
            <span class = "tab-color">Home</span>
          </a>
        </li>
        <li>
          <a href = "relection.html">
            <span class = "tab-color-2">Reflection</span>
          </a>
        </li>
      </ul>
    </div>
      <section class="section">
        <div class="container">
          <h2 class="title is-2">
            Reflection
          </h1>
          <p class="subtitle">
            A reflection on using Bulma.
          </p>
        </div>
      </section>  
      <div class="container is-max-desktop">
        <div class="notification is-primary">
            <code>I chose Bulma to use as the CSS framework for this assignment. I chose it because I have never used it before,
                and because I like how the examples look in the documentation. </code>
        </div>
      </div>

