* {
    background-color: black;
}

.title {
    color: white;
    text-align: center;
}

.subtitle {
    color: red;
    text-align: center;
}

.summary {
    background-color: white;
}

.is-active {
    background-color: white;
}

.tab-color, .tab-color-4 {
    color: red;
    background-color: white;
}

.tab-color-2:hover, .tab-color-3:hover {
    color: red;
    background-color: white;
}

.footer, .content {
    background-color: white;
    color: red;
}

.footer p{
    background-color: white;
    margin-bottom: -15em;
}

.notification {
    margin-bottom: 20em;
}

.notification p {
    background-color: #00d1b2;
    font-weight: 700;

}
html {
    background-color: black;
}
